
<title>{{ page.title }}</title>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="NP-Incompleteness: {{ page.description }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/stylesheets/stylesheet.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script type="text/babel" src="{{site.baseurl}}/js/lib/components.js"></script>

<!-- MathJax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    extensions: [
        "MathMenu.js",
        "MathZoom.js",
        "AssistiveMML.js",
        "a11y/accessibility-menu.js"
    ],
    tex2jax: {
        inlineMath: [['$','$'], ['$$','$$'], ["\\(","\\)"]],
    },
    jax: ["input/TeX", "output/CommonHTML"],
    TeX: {
        extensions: [
        "AMSmath.js",
        "AMSsymbols.js",
        "noErrors.js",
        "noUndefined.js",
        ],
        Macros: {
        hash: "{\\#}",
        ket: ["{\\mid #1 \\rangle}", 1],
        abs: ["{\\left \\lvert #1 \\right \\rvert}", 1],
        curly: ["\\{ #1 \\}", 1],
        Mod: ["{\\ (\\mbox{mod} \\ #1)}", 1],
        norm: ["{\\lvert\\lvert #1 \\rvert\\rvert}", 1],
        vec: ["\\boldsymbol{#1}", 1],
        paren: ["{\\left( #1 \\right)}", 1],
        }
    }
    });
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<link rel="me" href="https://www.threads.net/@kuni.gami" />
<link rel="alternate" type="application/atom+xml" title="NP-Incompleteness" href="/feed.xml">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open Sans&display=swap" rel="stylesheet">
<script data-goatcounter="https://kunigami.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
