---
layout: default
---

{% include blog_vars.html %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kunigami" />
<meta name="twitter:creator" content="@kunigami" />
<meta property="og:title" content="{{ page.title }}" />

{% if page.tweet %}
<meta name="twitter:description" content="{{page.tweet}}">
{% endif %}

{% if page.main_image %}
<meta name="twitter:image" content="{{resources_path}}/{{page.main_image}}">
{% endif %}

<div id="page">
    <div class="inner">
        <p>
            <a href="{{ site.url }}">kuniga.me</a> > <a href="{{ site.url }}/blog">NP-Incompleteness</a> > {{ page.title }}
        </p>

        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date_to_string }}</p>
        {{ content }}


        {% assign my_array = site.emptyArray %}
        {% for tag in page.tags %}
            {% assign my_array = my_array | push: tag %}
        {% endfor %}

        <div class="tags">
            Tags: {{ my_array | array_to_sentence_string: '' }}
        </div>

        <div class="fb-comments" data-href="http://kuniga.me/{{ page.url }}" data-numposts="5" data-width="100%"></div>
    </div>
</div>
