---
layout: default
---

{% include blog_vars.html %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kunigami" />
<meta name="twitter:creator" content="@kunigami" />
<meta property="og:title" content="{{ page.title }}" />

{% if page.tweet %}
<meta name="twitter:description" content="{{page.tweet}}">
{% endif %}

{% if page.main_image %}
<meta name="twitter:image" content="{{resources_path}}/{{page.main_image}}">
{% endif %}

<div id="page">
    <div class="inner">
        <p>
            <a href="{{ site.url }}">kuniga.me</a> > <a href="{{ site.url }}/blog">NP-Incompleteness</a> > {{ page.title }}
        </p>

        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date_to_string }}</p>
        {{ content }}

        {% assign tags = site.emptyArray %}
        {% for tag in page.tags %}
            {% capture tag_link %}<a href="{{ site.url }}/blog/tags/#{{ tag }}" target="_blank">{{ tag }}</a>{% endcapture %}
            {% assign tags = tags | push: tag_link %}
        {% endfor %}

        <div class="tags">
            <a href="https://github.com/kunigami/kunigami.github.io/tree/master/{{ page.path }}" title="Source code to this post" target="_blank">Source code</a> |
            <a href="https://www.kuniga.me/feed.xml" title="Subscribe to new posts">RSS feed</a> <a href="https://www.kuniga.me/feed.xml"><img src="{{site.url}}/resources/rss.png" alt="RSS Icon" class="icon" /></a> |
            Tags: {{ tags | array_to_sentence_string: '' }}
        </div>

        <script src="https://giscus.app/client.js"
            data-repo="kunigami/kunigami.github.io"
            data-theme="https://www.kuniga.me/stylesheets/giscus.css"
            data-repo-id="MDEwOlJlcG9zaXRvcnkxODU4Mjk3MQ=="
            data-category="Announcements"
            data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMzMDczMjUy"
            data-mapping="pathname"
            data-reactions-enabled="1"
            crossorigin="anonymous"
            async>
        </script>
    </div>
</div>
